:root {
  --primary: #30364f;
  --accent: #acbac4;
  --secondary: #e1d9bc;
  --bg-light: #f0f0db;
  --text-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light);
  color: var(--primary);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-padding {
  padding: 80px 0;
}
.text-center {
  text-align: center;
}

/* Komponenty */
.btn-primary {
  background-color: var(--primary);
  color: var(--text-white);
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.card {
  background: white;
  border: 1px solid var(--accent);
  border-radius: 12px;
  padding: 30px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  border-color: var(--primary);
}
